// VARIABLES

// Fonts

$rubik: 'Rubik', sans-serif;
$rubikr: 400;
$rubikm: 500;
$rubikb: 700;

// Colors

$violet-pale: hsl(276, 100%, 81%);
$violet-mod: hsl(276, 55%, 52%);
$violet-dark: hsl(271, 15%, 43%);
$violet-dark2: hsl(271, 36%, 24%);
$violet-grey: hsl(270, 7%, 64%);
$violet-grey-light: hsl(270, 20%, 96%);
$grey-blue: hsl(206, 6%, 79%);
$magenta-light: hsl(293, 100%, 63%);
$magenta-light2: hsl(289, 100%, 72%);
$violet-light: hsl(264, 100%, 61%);

// Secondary Colors:


// Sizes

$mobile: 375px;
$desktop: 1440px;

